@using FlightBite.Data.Interfaces;
@using FlightBite.MVC.Areas.SuperAdmin.ViewModels;
@model EnquiryInfoViewModel

@inject IEnquiryNoteDetails _enquiryNoteDetails
@inject IEnquiryStatus _enquiryStatus
@{
	Layout = null;

	List<SelectListItem>? StatusList = null;
	if (ViewBag.EnquiryStatusList != null)
	{
		StatusList = ViewBag.EnquiryStatusList as List<SelectListItem>;
	}
}

<div class="modal modal--active" id="client-details-modal">

	<div class="modal__container" id="enquiry-details">
		<div class="modal__header flex flex--distribute flex--align-center">
			<div class="h3">@Model.CompanyName</div>
			<div class="" style="cursor: pointer">
				<button class="btn btn--sm close-modal">
					<span class="icon-cross "></span>
				</button>
			</div>
		</div>

		<div class="modal__body">
			<div class="input-item input-item--full-width input-item--has-icon"
				 style="width: 100%">
				<label>Enquiry Status </label>
				<div class="flex flex--distribute flex--align-center flex--has-gap">
					<!--Enquiry Status-->
					<div style="width: 100%">

						@if (StatusList != null)
						{
							<form asp-action="UpdateStatus" asp-controller="Home" method="post">
								<select asp-items="@StatusList" asp-for="@Model.EnquiryStatusModelId" onchange="this.form.submit();"></select>
								<input type="hidden" asp-for="@Model.Id" />
							</form>
						}
					</div>

					<!--Enquiry Note-->
					<div class="superuser__body__notes flex" id="" onclick="toggleModalSection('client-name-notes-@Model.Id')">
						<div style="position: relative" hx-trigger="click" hx-get="@Url.Action("NoteView","Home", new { id = Model.Id })" hx-target="#NoteDetails">
							<span class="icon-file-text2"></span>
							<div class="counts" style="background-color: var(--success)">
								@_enquiryNoteDetails.GetSpecificEnquiryAllNotes(Model.Id).Count()
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="superuser__body__provider" style="margin-top: 32px">
				Provider
				<span style="background-color: var(--brand-1)">Api</span>
			</div>

			<div class="flex flex--has-gap flex--is-column"
				 style="margin-top: 16px">
				<div class="flex">
					<small style="width: 50%"> <strong> Contact Name </strong></small>
					<small style="width: 50%">@Model.CompanyName</small>
				</div>
				<div class="flex">
					<small style="width: 50%">
						<strong> Position / Job Title</strong>
					</small>
					<small style="width: 50%">@Model.JobTitle</small>
				</div>
				<div class="flex">
					<small style="width: 50%"> <strong> Phone Number </strong></small>
					<small style="width: 50%">@Model.ContactPhone</small>
				</div>
				<div class="flex">
					<small style="width: 50%"> <strong> Email </strong></small>
					<small style="width: 50%">@Model.ContactEmail</small>
				</div>
				<div class="flex">
					<small style="width: 50%"> <strong> ATOL </strong></small>
					<small style="width: 50%">@Model.ATOL</small>
				</div>
				<div class="flex">
					<small style="width: 50%"> <strong> IATA </strong></small>
					<small style="width: 50%">@Model.IATA</small>
				</div>
				<div class="flex">
					<small style="width: 50%"> <strong> Lead </strong></small>
					<small style="width: 50%">@Model.PlatForm</small>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="NoteDetails"></div>