@using FlightBite.Data.Models;
@using FlightBite.MVC.Areas.SuperAdmin.ViewModels;
@model EnquiryCreateViewModel
<section class="enquiries-section">
    <div class=" page-content page-content--max-1440">
        <div class="superuser">
            <div class="superuser__header">
                <div class="flex flex--is-wrap flex--distribute">
                    <h1><strong> Enquires / Leads </strong></h1>
                    <button class="btn btn--success open-modal" data-modal-target="enquiry-modal">Add Manual Enquiry</button>
                </div>
                
                <div class="flex flex--distribute flex--align-center flex--is-wrap">
                    
                    <div class="flex flex--is-wrap flex--has-gap">

                        @{
                            foreach (var UserType in Model.UserTypes!)
                            {
                                <div class="zik-switch" >
                                    <label>
                                        <input type="checkbox" class="zik-swich__input" value="@Model.IsChecked" />
                                        
                                        <span class="zik-switch"></span>
                                    </label>
                                    <span>@UserType.Type</span>
                                </div>
                            }
                        }

                    </div>

                    <div class="input-item input-item--full-width input-item--has-icon input-item--label-inside input-item--is-select"
                         style="min-width: 20%">
                        <div>
                            <select>
                                <option>Select One...</option>
                                <option>Item</option>
                                <option>Item</option>
                            </select>
                            <i class="icon-chevron-down"></i>
                            <label>Label</label>
                        </div>
                    </div>
                    

                </div>
                
            </div>

            <div class="superuser__body">
                @if (Model != null)
                {
                    @foreach (var enquiry in Model.EnquiryMasters)
                    {
                        <div class="flex flex--align-center flex--distribute flex--is-wrap"
                             style="border-bottom: 1px solid var(--grey-2); padding-bottom: 8px;">
                            <div class="flex flex--align-center flex--has-gap">
                                <div class="superuser__body__date">
                                    <span>@enquiry.CreatedAt.ToString("MMM dd")</span>
                                    <span style="font-size: 16px"> <strong> @enquiry.CreatedAt.ToString("MMM") </strong></span>
                                    <span>@enquiry.CreatedAt.ToString("yyyy")</span>
                                </div>
                                <div class="superuser__body__clients-name">
                                    @if (enquiry.CompanyName != null)
                                    {
                                        <div><strong>@enquiry.CompanyName</strong></div>
                                        <div>@enquiry.ContactEmail</div>
                                    }
                                    else
                                    {
                                        <div><strong>@enquiry.ContactPerson</strong></div>
                                        <div>@enquiry.ContactEmail</div>
                                    }
                                </div>
                            </div>
                            <div class="flex flex--is-wrap flex--align-center" style="gap: 4rem">
                                <div class="flex flex--is-wrap flex--has-gap">
                                    <div class="superuser__body__provider">
                                        Provider
                                        <span style="background-color: var(--brand-1)">Api</span>
                                    </div>

                                    <div class="superuser__body__status flex  flex--is-wrap flex--align-center flex--has-sm-gap"
                                         style="color: var(--warning)">
                                        <div style="background-color: var(--warning)"></div>
                                        @enquiry.EnquiryStatus?.Status
                                    </div>
                                </div>

                                <div class="">
                                    <div class="superuser__body__notes flex">
                                        <div style="position: relative" class="open-modal" data-modal-target="client-details-modal"  >
                                            <span class="icon-file-text2"></span>
                                            <div class="counts">5</div>
                                        </div>
                                        <div style="position: relative">
                                            <span class="icon-bubbles"></span>
                                            <div class="counts"
                                                 style="background-color: var(--success)">
                                                2
                                            </div>
                                        </div>


                                        <div class="open-modal" data-modal-target="client-details-modal">
                                            <span class="icon-info"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

<partial name="_EnquiryPartial"></partial>

<partial name="_ClientDetailsPartial"></partial>




