@using FlightBite.Data.Models;
@using FlightBite.Data.Interfaces;
@using FlightBite.MVC.Areas.SuperAdmin.ViewModels;
@model ClientCreateViewModel
@{
    Layout = null;
}

<form asp-action="CreateNewClient" asp-controller="Client" method="post">
    <div class="modal modal--active" id="add-new-client-modal">

        <div class="modal__container" id="add-client-section" style="max-width:1100px;">
            <div class="modal__header flex flex--distribute flex--align-center">
                <div class="h3"><strong> Add Client </strong></div>
                <div style="cursor: pointer">
                    <button class="btn btn--sm close-modal">
                        <span class="icon-cross "></span>
                    </button>
                </div>
            </div>

            <div class="modal__body">
                <div onclick="toggleModalSection('client-logo-section')" style="cursor:pointer;" class="modal__body__client-logo">
                    <span class="icon-image"></span>
                    <div>Add Client Logo</div>
                </div>

                <div class="flex" style="gap: 2rem ; margin-top: 1.5rem;">
                    <div>
                        @if(Model.UserTypes != null)
                        {
                            @foreach (var UserType in Model.UserTypes)
                            {
                                <label class="radio-button-container">
                                    @UserType.UserType
                                    <input type="radio" name="radio" value="@UserType.Id" asp-for="@Model.UserTypeSelectedId" />
                                    <span class="checkmark"></span>
                                </label>
                            }
                        }
                    </div>
                </div>

                <div class="flex" style="gap: 2rem ; margin-top: 1.5rem;">
                    <div>
                        @if (Model.SupplierSourceModels != null)
                        {
                            @foreach (var Source in Model.SupplierSourceModels)
                            {
                                <label class="radio-button-container">
                                    @Source.SourceName
                                    <input type="radio" name="radio" value="@Source.Id" asp-for="@Model.SupplierSourceModelId" />
                                    <span class="checkmark"></span>
                                </label>
                            }
                        }
                    </div>
                </div>

                <div class="flex flex--is-column flex--has-gap">
                    <div class="h4" style="margin-top: 32px">
                        <strong> Company Details </strong>
                    </div>

                    <div class="input-item input-item--full-width input-item--label-inside input-item--has-icon">
                        <div>
                            <input type="text" placeholder="Company / Group Name" asp-for="@Model.CompanyName" />
                            <label asp-for="@Model.CompanyName">Company Name </label>
                            <span asp-validation-for="CompanyName" class="validation-message"></span>
                            <i class="icon-pencil"></i>
                        </div>
                    </div>
                    <div class="input-item input-item--full-width input-item--label-inside input-item--has-icon">
                        <div>
                            <input type="text" placeholder="VAT Number" asp-for="@Model.VATNumber" />
                            <label asp-for="@Model.VATNumber">VAT Number </label>
                            <i class="icon-pencil"></i>
                        </div>
                    </div>
                    <div class="input-item input-item--full-width input-item--label-inside input-item--has-icon">
                        <div>
                            <input type="text" placeholder="Registraion Number" asp-for="@Model.RegisterationNo" />
                            <label asp-for="@Model.RegisterationNo">Registraion Number </label>
                            <i class="icon-pencil"></i>
                        </div>
                    </div>
                    <div class="input-item input-item--full-width input-item--label-inside input-item--has-icon">
                        <div>
                            <input type="text" placeholder="Account Holder" asp-for="@Model.AccountHolder" />
                            <label asp-for="@Model.AccountHolder">Account Holder </label>
                            <i class="icon-pencil"></i>
                        </div>
                    </div>
                    <div class="input-item input-item--full-width input-item--label-inside input-item--has-icon">
                        <div>
                            <input type="text" placeholder="Position / Job Title" asp-for="@Model.JobTitle" />
                            <label asp-for="@Model.JobTitle"> Position / Job Title </label>
                            <i class="icon-pencil"></i>
                        </div>
                    </div>
                    <div class="input-item input-item--full-width input-item--label-inside input-item--has-icon">
                        <div>
                            <input type="text" placeholder="Email Address" asp-for="@Model.ContactEmail"/>
                            <label asp-for="@Model.ContactEmail">Email Address </label>
                            <span asp-validation-for="ContactEmail" class="validation-message"></span>
                            <i class="icon-pencil"></i>
                        </div>
                    </div>
                </div>

                <div class="h4" style="margin-block: 24px">
                    <strong> Bonding Details </strong>
                </div>

                <div class="flex flex--is-column flex--has-gap">
                    <div class="input-item input-item--full-width input-item--label-inside input-item--has-icon">
                        <div>
                            <input type="text" placeholder="ATOL" asp-for="@Model.ATOL" />
                            <label asp-for="@Model.ATOL"> ATOL </label>
                            <i class="icon-pencil"></i>
                        </div>
                    </div>

                    <div class="input-item input-item--full-width input-item--label-inside input-item--has-icon">
                        <div>
                            <input type="text" placeholder="IATA" asp-for="@Model.IATA"/>
                            <label asp-for="@Model.IATA"> IATA </label>
                            <i class="icon-pencil"></i>
                        </div>
                    </div>

                    <div class="input-item input-item--full-width input-item--label-inside input-item--has-icon">
                        <div>
                            <input type="text" placeholder="PTS" asp-for="@Model.PTS" />
                            <label asp-for="@Model.PTS"> PTS</label>
                            <i class="icon-pencil"></i>
                        </div>
                    </div>

                    <div class="input-item input-item--full-width input-item--label-inside input-item--has-icon">
                        <div>
                            <input type="text" placeholder="TTA" asp-for="@Model.TTA" />
                            <label asp-for="@Model.TTA"> TTA </label>
                            <i class="icon-pencil"></i>
                        </div>
                    </div>

                    <div class="input-item input-item--full-width input-item--label-inside input-item--has-icon">
                        <div>
                            <input type="text" placeholder="Other" asp-for="@Model.Other"/>
                            <label asp-for="@Model.Other"> Other </label>
                            <i class="icon-pencil"></i>
                        </div>
                    </div>
                </div>

                <div class="h4" style="margin-block: 24px">
                    <strong> Terms </strong>
                </div>

                <div class="flex flex--is-column flex--has-gap">

                    @for (int i = 0; i < Model.AvailableTerms!.Capacity; i++)
                    {
                        <div class="checkbox">
                            <input type="checkbox" 
                                    value="@Model.AvailableTerms[i].Title"
                                    name ="SelectedTerms"
                                    id="checkbox_@Model.AvailableTerms[i].Title" 
                                    checked="@Model.AvailableTerms[i].IsChecked" />
                            <label for="checkbox_@Model.AvailableTerms[i].Title">@Model.AvailableTerms[i].Title </label>
                        </div>
                    }

                </div>
            </div>
            <!--!-->
            <div style="padding: 24px 48px"
                 class="modal__footer flex flex--align-center flex--distribute">
                <a class="close-modal" style="text-decoration: underline; color:var(--brand-1);">Cancel</a>
                <button class="btn btn--brand-1">Save</button>
            </div>
        </div>


        <div class="modal__container hide" id="client-logo-section" style="max-width:1100px;">
            <div class="modal__header flex flex--distribute flex--align-center">
                <div class="h3">Add Client Logo</div>

                <button class="btn btn--sm " style="color: var(--brand-1); cursor: pointer" onclick="toggleModalSection('add-client-section')">
                    <i class="icon-cross"></i>
                </button>
            </div>
            <div class="modal__body">
                <label _="on dragover add .modal--upload-box-on-over on me on dragleave remove .modal--upload-box-on-over on me" class="modal__upload-box" for="upload-icon" style="cursor:pointer;">
                    <div>
                        Click to browse your device, or drag your image file here
                    </div>
                </label>
                <input class="input-file"
                       type="file"
                       name="icon-upload"
                       id="upload-icon" style="opacity:0;" />
            </div>

            <div style="padding: 24px 48px"
                 class="modal__footer flex flex--align-center flex--distribute">
                <a class="" style="text-decoration: underline" onclick="toggleModalSection('add-client-section')">Cancel</a>
                <button type="submit" class="btn btn--brand-1">Save</button>
            </div>
            <div />

            <!--!-->
        </div>
    </div>
</form>
