@using FlightBite.Data.Models;
@using FlightBite.Data.Interfaces;
@using FlightBite.MVC.Areas.SuperAdmin.ViewModels;
@model ClientViewModel

@inject IClientNoteDetails _clilentNoteDetails //For counting notes purpose inject it.

<section class="clients-section">
    <div class="page-content page-content--max-1440">
        <div style="padding: 24px 0px">
            <span asp-area="SuperAdmin" asp-controller="Home" asp-action="Index">Home</span> <i class="icon-chevron-right"></i>
            <span>Client List</span>
        </div>
        <div class="superuser">
            <div class="superuser__header">
                <div class="flex flex--is-wrap flex--distribute">
                    <h1><strong> Clients </strong></h1>
                    <div>
                        <button type="button" class="btn btn--success open-modal" hx-trigger="click" hx-get="@Url.Action("CreateNewClient","Client")" hx-target="#CreateClientView" data-modal-target="add-new-client-modal">New Client</button>
                    </div>
                </div>
                <partial name="_FilterClientPartial" model="Model.SelectedUserTypes"></partial>
            </div>

            <div class="superuser__body">
                @if(Model.ClientMasters != null)
                {
                    foreach (var client in Model.ClientMasters)
                    {
                        <div class="flex flex--align-center flex--distribute flex--is-wrap"
                             style="border-bottom: 1px solid var(--grey-2); padding-bottom: 8px;">
                            <div class="flex flex--align-center flex--has-gap">
                                <div class="superuser__body__date">
                                    <span>@client.CreatedAt.ToString("MMM dd")</span>
                                    <span style="font-size: 16px"> <strong> @client.CreatedAt.ToString("MMM") </strong></span>
                                    <span>@client.CreatedAt.ToString("yyyy")</span>
                                </div>
                                <div style="border: 1px solid var(--grey-2)">
                                    @*<img src="~/images/tavel-logo.svg" alt="clients-logo" />*@
                                    <img src="@client.LogoPath" alt="clients-logo" />
                                </div>
                                <div class="superuser__body__clients-name">
                                    <div class="superuser__body__provider">
                                        Provider
                                        <span style="background-color: var(--brand-1)">Api</span>
                                    </div>
                                    <div style="margin-top: 8px">
                                        <strong>@client.CompanyName</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex--is-wrap flex--align-center"
                                 style="gap: 4rem">
                                <div class="">
                                    <div class="superuser__body__notes flex">
                                        <div style="position: relative">
                                            <span class="icon-airplane"></span>
                                            <div class="counts"
                                                 style="background-color: var(--warning)">
                                                5
                                            </div>
                                        </div>
                                        <div style="position: relative">
                                            <span class="icon-airplane"></span>
                                            <div class="counts"
                                                 style="background-color: var(--success)">
                                                5
                                            </div>
                                        </div>
                                        <div style="position: relative">
                                            <span class="icon-file-text2"></span>
                                            <div class="counts">5</div>
                                        </div>
                                        <div style="position: relative" hx-trigger="click" hx-get="@Url.Action("NoteView","Client", new { ClientId = client.Id })" hx-target="#NoteDetails">
                                            <span class="icon-bubbles"></span>
                                            <div class="counts">@_clilentNoteDetails.GetSpecificClientAllNotes(client.Id).Count()</div>
                                        </div>
                                        <div>
                                            <a asp-area="SuperAdmin" asp-controller="ClientInformation" asp-action="Index">
                                                <span class="icon-info"></span>
                                            </a>
                                            <span class="icon-more" style="margin-left: 24px;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
<div id="NoteDetails"></div>
<div id="AddNote"></div>
<div id="CreateClientView"></div>
@*<partial name="_AddNewClientPartial"></partial>*@