@using FlightBite.MVC.Areas.SuperAdmin.ViewModels;
@model EnquiryMasterViewModel
@{
	Layout = null;
}
<form method="post" asp-controller="home" asp-action="AddEnquiry">
	<div class="modal " id="enquiry-modal">

		<div class="modal__container " id="enquiry-section-1">
			<div class="modal__header flex flex--distribute flex--align-center">
				<div class="h3">I AM A</div>
			</div>

			<div class="modal__body">
				<div id="type-of-client">
					@{
						foreach (var UserType in Model.SelectedUserTypes)
						{
							<div style="margin-top: 24px;">
								<label class="radio-button-container">
									@UserType.Text
									<input type="radio" value="@UserType.Value" asp-for="@Model.UserTypeSelectedId" />
									<span class="checkmark"></span>
									<br />
								</label>
							</div>
						}
					}
					<div class="flex flex--align-center" style="justify-content:center">
						<button type="button" class="btn btn--brand-1" style="margin-top:16px;" onclick="toggleModalSection('enquiry-section-2')">  Proceed </button>
					</div>
				</div>
			</div>
		</div>	

		<div class="modal__container hide " id="enquiry-section-2">
			<div class="modal__header flex flex--distribute flex--align-center" id="form-header">
				<div class="h3">Add Enquiry Form</div>
				<div class="h4" style="color: var(--brand-1); cursor: pointer" onclick="toggleModalSection('enquiry-section-1')">
					Back
				</div>
			</div>

			<div class="modal__body">
				<div class="" id="client-form">
					<div class="flex flex--is-column flex--has-gap ">

						<div class="input-item input-item--full-width">
							<div>
								<label asp-for="@Model.CompanyName">Company / Group Name</label>
								<input type="text"
									   placeholder="Company / Group Name"
									   aria-autocomplete="list" asp-for="@Model.CompanyName" />
								<span asp-validation-for="CompanyName" class="validation-message"></span>
							</div>
						</div>
						<div class="input-item input-item--full-width">
							<div>
								<label asp-for="@Model.ATOL">ATOL</label>
								<input type="text"
									   placeholder="ATOL"
									   aria-autocomplete="list" asp-for="@Model.ATOL" />
							</div>
						</div>

						<div class="input-item input-item--full-width">
							<div>
								<label asp-for="@Model.IATA">IATA</label>
								<input type="text"
									   placeholder="IATA"
									   aria-autocomplete="list" asp-for="@Model.IATA" />
							</div>
						</div>
						<div class="input-item input-item--full-width">
							<div>
								<label asp-for="@Model.JobTitle">Position / Job Title </label>
								<input type="text"
									   placeholder="Position / Job Title"
									   aria-autocomplete="list" asp-for="@Model.JobTitle" />
							</div>
						</div>
						<div class="input-item input-item--full-width">
							<div>
								<label asp-for="@Model.ContactEmail">Email Address</label>
								<input type="email"
									   placeholder="Email Address"
									   aria-autocomplete="list" asp-for="@Model.ContactEmail" />
								<span asp-validation-for="@Model.ContactEmail" class="validation-message"></span>
							</div>
						</div>
						<div class="input-item input-item--full-width">
							<div>
								<label asp-for="@Model.ContactPhone">Phone Number</label>
								<input type="number"
									   placeholder="Phone Number"
									   aria-autocomplete="list" asp-for="@Model.ContactPhone" />
								<span asp-validation-for="@Model.ContactPhone" class="validation-message"></span>
							</div>
						</div>
						<div>Where did you hear about FlightBite?</div>
					</div>

					<div class="flex flex--is-column flex--has-gap" style="margin-top: 24px;">
						@foreach (var platform in Model.Platforms)
						{
							<div>
								<label class="radio-button-container">
									@platform.PlatForm
									<input type="radio" value="@platform.Id" asp-for="@Model.PlatformSelectedId" />
									<span class="checkmark"></span>
								</label>
							</div>
						}
					</div>

					<!--!-->


				</div>
			</div>
			
			<div class=" modal__footer flex " style="justify-content: center;">
				<button type="submit" class="btn btn--brand-1 ">Submit</button>
			</div>
		</div>
		<!--!-->
	</div>
</form>


